[alias]
	co = checkout
	pf = push --force-with-lease
	st = status
[color]
	ui = auto
[core]
	editor = code --wait
	filemode = false
	longpaths = true
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[fetch]
	prune = true
[init]
	defaultbranch = main
[merge]
	ff = only
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[pull]
	rebase = true
[push]
	default = current
[rebase]
	autosquash = true
[user]
	email = <<email>>
	name = Norman Dankert
