[alias]
co = checkout
pf = push --force-with-lease
ro = reset --hard @{u}
st = status

[color]
ui = auto

[core]
autocrlf = false
editor = code --wait
filemode = false
longpaths = true
refFormat = reftable

[diff]
tool = vscode

[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE

[fetch]
prune = true

[init]
defaultbranch = main

[merge]
ff = only
tool = vscode

[mergetool "vscode"]
cmd = code --wait $MERGED
conflictstyle = diff3

[pull]
rebase = true

[push]
default = current

[rebase]
autosquash = true

[user]
email = <<email>>
name = Norman Dankert
